@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-transparent: #00000000;
  --color-background: #21292c;
  --color-primary: #ffffff;
  --color-secondary: #888888;
  --color-third: #2f363e;
  --color-active-primary: #0f2680;
  --color-active-secondary: #1b1c1d;
  --color-blue-primary: #0052e4;
  --color-blue-secondary: #0096ff;
  --color-error: #c52477;
  --color-redprimary: #ff0000;
}
